.btn-ajax {
  .fa {
    margin-right: 5px;
    margin-left: -22px;
    opacity: 0;
    transition: all .15s ease-in-out;
  }

  &.btn-loading {
    .fa {
      margin-left: 0;
      opacity: 1;
    }
  }
}
