<div class="row">
  <div class="text-center" ng-if="!allTeams">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <p class="col-sm-12" ng-if="allTeams.length == 0">
    No teams found. Please add one by using the button below.
  </p>
  <div class="col-sm-12">
    <ol class="team-list list-unstyled" ng-if="allTeams">
      <li ng-repeat="team in allTeams" ng-style="{borderLeftColor: team.brand_color}">
        <a ng-href="#/team/{{ team.id }}" title="{{::team.name}} team page">
          {{::team.name}}
        </a>
        <a href="" title="Update {{::team.name}} details" class="pull-right">
          Update
        </a>
      </li>
    </ol>
    <a ng-href="/user/team/new" class="text-center block btn-add-team">
      Add new team <i class="fa fa-plus"></i>
    </a>
  </div>
</div>
