<div class="row">
  <div class="col-sm-6">
    <div ng-include="'user/smallRegister.html'"></div>
  </div>
  <div class="col-sm-6">
    <div ng-include="'user/smallLogin.html'"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h4>Latest Teams</h4>
    <div class="text-center" ng-if="!latestTeams.length">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <ol class="team-list list-unstyled">
      <li ng-repeat="team in ::latestTeams" ng-style="{borderLeftColor: team.brand_color}">
        <a ng-href="#/team/{{ team.id }}" title="{{::team.name}} team page">{{::team.name}}</a>
      </li>
    </ol>
  </div>
</div>
