%button.btn.btn-ajax{'ng-class' => "[type, loading ? 'btn-loading' : '']", 'ng-disabled' => 'buttonDisabled', 'ng-click' => 'click()'}
  %i.fa.fa-refresh.fa-spin{'ng-show' => 'loading'}
  %span{'ng-transclude' => true}
