!!!5
%html{'ng-app' => 'LiveHockey'}
  %head
    %title{'ng-bind-html' => 'title'}
      Open Ice Hockey
    = stylesheet_link_tag :application, :media => 'all'
    = javascript_include_tag :application
    = csrf_meta_tags
    - if session[:user]
      %script
        var LOGGED_IN = true;
  %body
    %main.container{'role' => 'main'}
      = yield
